
.paino {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.piano .octave {
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;

	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.key {
	height: 14%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-indent: -9999px;
	z-index: 50;

	border: 1px solid #CCC;
	box-sizing: border-box;
}

.key-C { top: 0; }
.key-D { top: 14%; }
.key-E { top: 28%; }
.key-F { top: 42%; }
.key-G { top: 56%; }
.key-A { top: 70%; }
.key-B { top: 84%; }

.key-black {
	height: 10%;
	position: absolute;
	top: 0;
	left: 33%;
	right: 0;
	text-indent: -9999px;

	background: #ff98dc;
	z-index: 100;

	-webkit-box-shadow: inset 7px -6px 16px 8px #c476aa;
	-moz-box-shadow: inset 7px -6px 16px 8px #c476aa;
	box-shadow: inset 7px -6px 16px 8px #c476aa;

}

.key-Cs { top: 9%; }
.key-Ds { top: 23%; }
.key-Fs { top: 51%; }
.key-Gs { top: 65%; }
.key-As { top: 79%; }

.key.active {
	-webkit-box-shadow: inset 6px -6px 8px #c4b7c0;
	-moz-box-shadow: inset 6px -6px 8px #c4b7c0;
	box-shadow: inset 6px -6px 8px #c4b7c0;
}

.key-black.active {
	-webkit-box-shadow: inset -7px 6px 16px 8px #c476aa;
	-moz-box-shadow: inset -7px 6px 16px 8px #c476aa;
	box-shadow: inset -7px 6px 16px 8px #c476aa;

}