<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title page-title></title>
	<link type="text/css" rel="stylesheet"
  <link rel="stylesheet" href="css/app.css"/>
</head>
  <div class="piano">
    <ul class="octave">
      <li class="key key-C" ng-click="C">C</li>
      <li class="key-black key-Cs" ng-click="Cs">Cs</li>
      <li class="key key-D" ng-click="D">D</li>
      <li class="key-black key-Ds" ng-click="Ds">Ds</li>
      <li class="key key-E active" ng-click="E">E</li>
      <li class="key key-F" ng-click="F">F</li>
      <li class="key-black key-Fs" ng-click="Fs">Fs</li>
      <li class="key key-G" ng-click="G">G</li>
      <li class="key-black key-Gs" ng-click="Gs">Gs</li>
      <li class="key key-A" ng-click="A">A</li>
      <li class="key-black key-As active" ng-click="As">As</li>
      <li class="key key-B" ng-click="B">B</li>
    </ul>
  </div>
	<!--<footer class="container">This little ditty of an app was lovingly crafted by <a href="https://lh3.googleusercontent.com/iFlnOZMc2W54RtuzWnV7W2RM4fwQdVrC01TwmJyeFlQ=s582-no">Pinkie Pie</a> and <a href="https://twitter.com/JaapRood">@JaapRood</a></footer> -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
