<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title page-title></title>
	<link type="text/css" rel="stylesheet"
  <link rel="stylesheet" href="css/app.css"/>
</head>
  <div class="piano" ng-controller="fartCtrl">
    <ul class="octave">
      <li class="key key-A" ng-click="fart('A')">A</li>
      <li class="key-black key-Ab" ng-click="fart('Af')">Ab</li>
      <li class="key key-B" ng-click="fart('B')">B</li>
      <li class="key-black key-Bb" ng-click="fart('Bf')">Bb</li>
      <li class="key key-C" ng-click="fart('C')">C</li>
      <li class="key-black key-Cs" ng-click="fart('C#')">Cs</li>
      <li class="key key-D" ng-click="fart('D')">D</li>
      <li class="key-black key-Ds" ng-click="fart('D#')">Ds</li>
      <li class="key key-E" ng-click="fart('E')">E</li>
      <li class="key key-F" ng-click="fart('F')">F</li>
      <li class="key-black key-Fs" ng-click="fart('F#')">Fs</li>
      <li class="key key-G" ng-click="fart('G')">G</li>
    </ul>
  </div>
	<audio src="audio/fart 1.ogg" preload="auto" id="fart2"/>
	<audio src="audio/fart 2.ogg" preload="auto" id="fart1"/>
	
	<!--<footer class="container">This little ditty of an app was lovingly crafted by <a href="https://lh3.googleusercontent.com/iFlnOZMc2W54RtuzWnV7W2RM4fwQdVrC01TwmJyeFlQ=s582-no">Pinkie Pie</a> and <a href="https://twitter.com/JaapRood">@JaapRood</a></footer> -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
